@CHARSET "UTF-8";

#dhlaccount_shipping_packstation input.packstation_checkbox {
    margin-left: 5px;
    margin-right: 5px;
}

#shipping_dhl_account_number {
    display: none;
}

#shipping_dhl_account_label > em, #dhl_account_label > em,
#dhl_packingstation_label > em {
    float: none;
    position: static;
    right: 0px;
}

#shipping_dhl_account_label > span, #dhl_account_label > span {
    font-size: 15px;
    text-decoration: none;
    color: #1E7EC8;
}

#dhl_account_label + div {
    width: 400px;
}

#dhl_packstation {
    display: none;
    width: 100%;
}

#dhl_packstation > span {
    display: inline;
}

#dhl_packstation span.input-box {
    margin: 0 0 10px 0;
}

#dhl_packstation a > img {
    padding: 1px;
}

#dhl_packstation a + span {
    font-size: 0.6em;
}

#dhl_packstation label + span {
    /*clear: left;*/
    display: inline-block;
    font-size: 0.85em;
    margin-top: 10px;
}


#shipping-packstationbuttons + .validation-advice {
    margin: 5px 0 10px 240px;
}


#shipping-packstationbuttons {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    width: 620px;
    vertical-align: bottom;
}

#shipping-packstationbuttons button {
    margin-left: 3px;
    margin-top: 3px;
}

.dhl-packstation-select {
    display: inline-block;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0px;
    /*margin-left: 240px;*/
}

#parcel_announcement_box{
    display: inline-block;
}